/* 关于攻略 */
.gygl{
    height: 3.461538rem;
    position: relative;
    top: -0.807692rem;
    z-index: 2;
}
.gygl .big_box{
    width: 3.461538rem;
    height: 3.461538rem;
    background: #1259E6;
    text-align: center;
    color: #fff;
    padding-top: 0.35rem;
    box-sizing: border-box;
}
.gygl .big_box span,.gygl .big_box em,.gygl .big_box strong{
    font-weight: normal;
    font-style: normal;
}
.gygl .big_box em{
    font-size: 24px;
}
.gygl .big_box strong{
    font-size: 18px;
}
.gygl .you{
    position: absolute;
    left: 4.230769rem;
    top: 1.5rem;
}
.gygl .you>span{
    font-size: 16px;
}



/* 选项卡 */
.xvanxiangka{
    height: 1.230769rem;
    border-bottom: 2px solid #EAEAEA;
}
.xvanxiangka ul{
    height: 1.15rem;
}
.xvanxiangka ul li{
    height: 100%;
    color: #000;
    float: left;
    font-size: 16px;
    margin-right: 1.269231rem;
}
.xvanxiangka ul li a{
    color: #1259E5;
}
.xvanxiangka ul li:hover{
    border-bottom: 4px solid #1259E5;
}
.xvanxiangka ul .active{
    border-bottom: 4px solid #1259E5;
}



/* 标题 */
.biaoti{
    height: 5.884615rem;
}
.biaoti h3{
    display: inline;
    font-size: 20px;
}
.biaoti h3 i{
    font-style: normal;
    color: #1259E5;
}
.biaoti span{
    vertical-align: middle;
    color: #E0E0E0;
}
.biaoti p{
    margin-top: 0.576923rem;
    font-size: 16px;
    line-height: 26px;
}



/* 蓝色部分 */
.lanse{
    height: 15.692308rem;
}
.lanse ul{
    width: 100%;
    height: 100%;
}
.lanse ul li{
    width: 7.115385rem;
    height: 7.115385rem;
    float: left;
    background: #F3F3F7;
    text-align: center;
    padding-top: 1.35rem;
    box-sizing: border-box;
}
.lanse ul li:nth-child(1),.lanse ul li:nth-child(3){
    margin-right: 0.769231rem;
}
.lanse ul li:nth-child(2),.lanse ul li:nth-child(4){
    margin-bottom: 0.769231rem;
}
.lanse ul li strong{
    font-size: 30px;
    color: #000;
}
.lanse ul li span{
    color: #000;
    font-size: 40px;
}
.lanse ul li p{
    color: #000;
    font-size: 18px;
    margin-top: 0.384615rem;
}



/* 灰色部分 */
.huise{
    height: 12.846154rem;
    background-image: linear-gradient(#1258E6,#297FE6);
}
.lanse2{
    height: 100%;
    padding-top: 0.846154rem;
    box-sizing: border-box;
}
.lanse2 h3{
    font-size: 16px;
    margin-bottom: 0.4rem;
    color: #fff;
    font-weight: normal;
}
.lanse2 .hhr2{
    width: 100%;
    height: 1px;
    background: #fff;
}
.lanse2>span{
    font-size: 14px;
    color: #fff;
}
.lanse2>p{
    font-size: 12px;
    color: #FFFFFF;
    opacity: .7;
    margin-top: 0.15rem;
}
.lanse2 .kuang{
    width: 14.230769rem;
    height: 4.769231rem;
    background: #2672E7;
    border: 1px solid rgba(255, 255, 255, .1);
	margin-left: auto;
    margin-right: auto;
    margin-top: 1.269231rem;
    text-align: center;
    padding-top: 0.55rem;
    box-sizing: border-box;
}
.lanse2 .kuang>div .phone{
    width: 1.653846rem;
    height: 1.653846rem;
    line-height: 1.653846rem;
    color: #1862E7;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4rem;
}
.lanse2 .kuang>div .tel{
    color: #fff;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.lanse2 .kuang>button{
    width: 13.230769rem;
    height: 1.423077rem;
    border: 1px solid #fff;
    border-radius: 1px;
    outline: none;
    color: #fff;
    background: #2672E7;
    margin-top: 0.4rem;
    font-size: 16px;
}



/* 文字图片文字 */
main{
    height: 72rem;
}
main .txt_top,main .txt_btm{
    font-size: 16px;
    line-height: 1.076923rem;
    text-indent: 1.25rem;
}
main .txt_top p,main .txt_btm p{
    margin-top: 1.2rem;
}
main .picture{
    margin-top: 1rem;
    position: relative;
}
main .picture .logo2{
    position: absolute;
    left: 50%;
    bottom: 3.653846rem;
    transform: translateX(-50%);
}
